/index.php
/index-test.php
/uploads


blog/assets
blog/wp-content/uploads
blog/wp-config-db-local.php

#blog/*
#!blog/wp-content/
#blog/wp-content/*
#!blog/wp-content/themes

blog_mysql/*
!blog_mysql/wp-content/
blog_mysql/wp-content/*
!blog_mysql/wp-content/themes
