/* main.css */
/* Container div for elFinder */
.elfinder,
.elfinder .elfinder-dialog,
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-menu {
  background: #fff;
  /*
  border: 1px solid #69bcee;
  box-shadow: 0 0 5px #cdcdcd;
  */
  border-radius: 0;
}

/* Override styles in child elements of elFinder div */
/* Use for consistently setting text sizes and overriding general jQuery UI styles */
.elfinder * {
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

/* Resizer */
/* Used if elFinder is resizable and on dialogs */
.elfinder .ui-icon-gripsmall-diagonal-se,
.elfinder-dialog .ui-icon-gripsmall-diagonal-se {
  /* */
}

/* progressbar */
.elfinder-notify-progressbar {
  width:180px;
  height:8px;
  border:1px solid #aaa;
  background:#f5f5f5;
  margin:5px auto;
  overflow:hidden;
}

.elfinder-notify-progress {
  width:100% !important;
  height:8px !important;
  background: none !important;
  /*background:url(../img/progress.gif) center center repeat-x;*/
  -webkit-animation: progress-bar-stripes 2s linear infinite !important;
  -o-animation: progress-bar-stripes 2s linear infinite !important;
  animation: progress-bar-stripes 2s linear infinite !important;
  background-color: #FC8F42 !important;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 40px 40px !important;
}

.elfinder-notify-progressbar, .elfinder-notify-progress {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
